
#root {
    display: block;
    width: 85%;
    margin: 5px auto ;
    


}
#cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin:auto
    
}
.card{
    height: 500px;
    margin: 5px;
}
#userListHead {
    text-align: left;
}
